# Terraform directories
**/.terraform/*
.terraform/

# Terraform state files  
*.tfstate
*.tfstate.*

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Override files
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# CLI config
.terraformrc
terraform.rc
